*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.flex-header {
    display: flex;
    justify-content: space-between;
}
.flex-main {
    display: flex;
    gap: 64px;
}
.header {
    background-color: #222;
    height: 75px;
}
.left-header {
    margin-top: 18px;
    margin-bottom: 19px;
    display: flex;
    gap: 41px;
    align-items: center;
}
.right-header {
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
    gap: 33px;
    align-items: center;
}
.fa-header-color{
    color: #E8E8E8;
}
.fa-magnifying-glass {
    width: 26px;
    height: 27px;
    font-size: 26px;
    margin-top: 10px;
}
.fa-bars, .fa-cart-shopping, .fa-user{
    font-size: 27px;
}
.fa-bars{
    width: 32px;
    height: 23px;
}
.fa-user{
    width: 29px;
    height: 29px;
}
.fa-cart-shopping{
    width: 32px;
    height: 29px;
}
.main-content {
    background-color: #F1E4E6;
    width: 100%;
    height: 764px;
}
.main-pic {
    width: 800px;
    height: 764px;
}
.right-main {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.right-main-accent {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;;
}
.main-title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.main-subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.accent-text {
    color: #F16D7F;
}
.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 65px;
    margin-bottom: 96px;
}
.sale-item {
    position: relative;
}
.sale-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sale-item-big {
    height: 180px;
    grid-column: 1 / -1;
}
.sale-text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sale-title {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}
.box-text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}
.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card-info {
    background-color: #F8F8F8;
    padding: 24px 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.card2 {
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
    height: 420px;
    padding-top: 9px;
    padding-bottom: 11px;
}
.card-title {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.card-price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-button {
    width: 212px;
    height: 48px;
    background-color: #FFF;
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 60px;
}
@media (max-width: 1024px) and (min-width: 768px){
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50%  - 367px);
    }
    .main-content{
        height: 368px;
    }
    .main-pic {
        width: 386px;
        height: 368px;
    }
    .main-title{
        font-size: 44px;
    }
    .main-subtitle {
        font-size: 24px;
    }
    .sale{
        gap: 19px;
    }
    .sale-item-big{
        height: 116px;
    }
    .sale-img {
        height: 168px;
    }
    .sale-big-img {
        height: 116px;
    }
    .card-box {
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .center{
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }
    .left-main {
        display: none;
    }
    .right-main {
        gap: 15px;
    }
    .right-main-accent {
        height: 61px;
    }
    .main-title {
        font-size: 38px;
    }
    .main-subtitle {
        font-size: 20px;
    }
    .main-content {
        height: 363px;
    }
    .flex-main {
        align-items: center;
        justify-content: center;
        height: 363px;
    }
    .sale {
        gap: 32px;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 64px;
        margin-bottom: 64px;
    }
    .sale-content {
        width: 343px;
    }
    .sale-big-img {
        height: 111px;
        width: 360px;
    }
    .sale-item-big {
        height: 111px;
    }
    .box-title {
        margin-bottom: 4px;
    }
    .box-text{
        margin-bottom: 65px;
    }
    .card-box {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .product-button {
        margin-top: 41px;
        margin-bottom: 85px;
    }
}